<!-- <ng-container [ngSwitch]="size">
    <h6 *ngSwitchCase="'extra-small'" [class]="titleClasses"><ng-content></ng-content></h6>
    <h5 *ngSwitchCase="'small'" [class]="titleClasses"><ng-content></ng-content></h5>
    <h4 *ngSwitchCase="'medium'" [class]="titleClasses"><ng-content></ng-content></h4>
    <h3 *ngSwitchCase="'large'" [class]="titleClasses"><ng-content></ng-content></h3>
    <h2 *ngSwitchCase="'extra-large'" [class]="titleClasses"><ng-content></ng-content></h2>
    <h1 *ngSwitchCase="'huge'" [class]="titleClasses"><ng-content></ng-content></h1>
    <h5 *ngSwitchDefault [class]="titleClasses"><ng-content></ng-content></h5>
</ng-container> -->

<h1 [class]="titleClasses"><ng-content></ng-content></h1>