.sidebar {
    min-width: 15rem;
    min-height: 100vh;
    border-right: var(--border-1-secondary-2);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sidebar__header {
    width: 100%;
    padding: var(--spacing-1);
    border-bottom: var(--border-1-secondary-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}